<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

	</head>
  <body>
    <header>
  		<div class = "header">
  			<h1 class="title">Catalog App</h1>
  		</div>
			<button type="button" onclick="location.href='/' ">Home</button>
  	</header>
    <section>
      <center>
      <div class="wrapper2">
        <div class="desc">
					<h2 class="cate_name">Delete Item</h2>
            <form action="{{url_for('deleteItem', item_name=delete_item.name)}}" method="POST">
							<p>Are you sure you want to delete?</p>
							<button type="submit">delete</button>
						</form>
        </div>
      </div>
      </center>
    </section>
  </body>
</html>
